@mixin suptitle
    font-size: px2rem(18)
    font-weight: $font-weight-normal
    letter-spacing: 0.1em
    line-height: px2rem(26)
    text-transform: uppercase

@mixin full-width-background-color($color)
    position: relative
    &::before
        background-color: $color
        bottom: calc(var(--bs-gutter-y)*-1)
        content: ''
        left: 50%
        position: absolute
        top: calc(var(--bs-gutter-y)*-1)
        transform: translateX(-50%)
        width: 100vw

@mixin icon-code($icon)
    @include icon
    content: map-get($icons-code, $icon)
    font-family: $font-icons-code
    font-size: 12px

@mixin code-menu-color($color)
    @include media-breakpoint-down(lg)
        border-bottom-color: $color !important
    a
        text-decoration-color: $color
        &::after
            color: $color
    .dropdown-menu
        border-bottom-color: $color
    .nav-level-2 > li > a
        text-decoration-color: rgba($color, 1) !important