{{ $position := .position }}
<section class="block-timeline">
  <div class="timeline">
    {{ if .title }}
      <h2 id="block-{{ $position }}">{{ partial "PrepareHTML" .title }}</h2>
    {{ end }}
    {{ with .data }}
      {{ if .description }}
        <h3>{{ partial "PrepareHTML" .description }}</h3>
      {{ end }}
      <div class="events">
        <ul>
          {{ range .events }}
            <li class="event">
              <p><strong>{{- partial "PrepareHTML" .title -}}</strong></p>
              <hr>
              <p>{{- partial "PrepareHTML" .text -}}</p>
            </li>
          {{ end }}
        </ul>
        {{ if  (gt (len .events) 0) }}
          <div class="timeline-arrows">
            <button class="previous" disabled aria-label="Aller à l'événement précédent"></button>
            <button class="next" aria-label="Aller à l'événement suivant"></button>
          </div>
        {{ end }}
      </div>
    {{ end }}
  </div>
</section>
