{{ $position := .position }}
<section class="block-timeline">
  <div class="timeline">
    {{ if .title }}
      <h2 id="block-{{ $position }}">{{ partial "PrepareHTML" .title }}</h2>
    {{ end }}
    {{ with .data }}
      {{ if .description }}
        <h3>{{ partial "PrepareHTML" .description }}</h3>
      {{ end }}
      <div class="events">
        {{ range .events }}
          <div class="event">
            <p><strong>{{- partial "PrepareHTML" .title -}}</strong></p>
            <hr>
            <p>{{- partial "PrepareHTML" .text -}}</p>
          </div>
        {{ end }}
      </div>
    {{ end }}
    {{ if  (gt (len .data.events) 0) }}
      <div class="timeline-arrows">
        <button class="previous" disabled aria-label="Aller à l'événement précédent"></button>
        <button class="next" aria-label="Aller à l'événement suivant"></button>
      </div>
    {{ end }}
  </div>
</section>
