.posts__section,
.posts__page
    .logotype
        path
            fill: $news
    .breadcrumb-container
        background: $news
    .toc
        ol
            > li
                > a
                    &.active
                        &::before
                            background-color: $news
    .page-detail
        background: $news

.posts__page
    .post-categories
        a::before
            background-color: white
    .disclaimer
        @extend .container
        @extend .small
        padding-bottom: px2rem(75)
        padding-top: px2rem(15)
        text-align: center
        @include media-breakpoint-up(md)
            padding-left: calc(100%/12*2)
            padding-right: calc(100%/12*2)
        p
            margin-bottom: 0

.posts__section
    .breadcrumb-container
        margin-bottom: px2rem(60)
        @include media-breakpoint-up(md)
            margin-bottom: px2rem(90)
