.posts__section,
.posts__page
    .logotype
        path
            fill: $actualite
    .breadcrumb-container
        background: $actualite
    .toc
        ol
            > li
                > a
                    &.active
                        &::before
                            background-color: $actualite


.posts__page
    .post-categories
        a::before
            background-color: white

.posts__section
    .breadcrumb-container
        margin-bottom: px2rem(60)
        @include media-breakpoint-up(md)
            margin-bottom: px2rem(90)
