@import "_theme/utils"

// Site
$font-icons-code: 'Icon-site'
// Plaidoyers
$pleas: #FF6B4C
// Actualités
$publications: $pleas
// Association
$association: #FDC652
// Enjeux
$challenges: #95D3E6
// Point de vue (category)
$viewpoint: #9CCD9A
  
$color-accent: $pleas
$color-text: black
$color-text-alt: #454545
$color-border: rgba(0, 0, 0, 0.30)
$color-background-alt: #F2F2F2
$color-background: #FFFFFF


$link-underline-offset: 3px

// Fonts
$body-font-family:  "Basier Square", sans-serif
$heading-font-family: "Basier Square", sans-serif

// Typo

$h1-size-desktop: px2rem(60)

$h2-size-desktop: px2rem(22)
$h2-size: px2rem(20)

$h3-size-desktop: px2rem(20)
$h3-size: px2rem(18)

// Header
$header-dropdown-full: true

// Footer
$footer-color: white
$footer-background-color: black

// Hero
$hero-background-color: white

// icon-site
$icons-code: ()
$icons-code: map-merge($icons-code, ("code-facebook": "\e900"))
$icons-code: map-merge($icons-code, ("code-linkedin": "\e907"))
$icons-code: map-merge($icons-code, ("code-twitter": "\e909"))
$icons-code: map-merge($icons-code, ("code-caret": "\e901"))
$icons-code: map-merge($icons-code, ("code-close": "\e906"))
$icons-code: map-merge($icons-code, ("code-divider": "\e902"))
$icons-code: map-merge($icons-code, ("code-logo": "\e908"))

$icons-code: map-merge($icons-code, ("code-arrow-right": "\e904"))
$icons-code: map-merge($icons-code, ("code-arrow-bottom": "\e901"))
$icons-code: map-merge($icons-code, ("code-arrow-left": "\e903"))
$icons-code: map-merge($icons-code, ("code-arrow-top": "\e905"))
