@include font-face("Basier Square", Basier-Square/basiersquare-regular, $exts: (woff2 woff))
@include font-face("Basier Square", Basier-Square/basiersquare-bold, $weight: bold, $exts: (woff2 woff))

@font-face
    font-display: block
    font-family: $font-icons-code
    font-style: normal
    font-weight: 400
    src: url('../fonts/icon-site/icomoon.woff') format("woff")
