@mixin icon-code($icon)
    @include icon
    content: map-get($icons-code, $icon)
    font-family: $font-icons-code
    font-size: 12px

@mixin code-menu-color($color)
    @include media-breakpoint-down(lg)
        border-bottom-color: $color !important
    a
        text-decoration-color: rgba($color, .3)
        &:hover
            text-decoration-color: $color
        &::after
            color: $color
    .dropdown-menu
        border-bottom-color: $color
    .nav-level-2 > li > a
        text-decoration-color: rgba($color, .3)
        &:hover
            text-decoration-color: $color

@mixin title-color($color)
    .title
        a
            text-decoration-color: rgba($color, .3)
            &:hover
                text-decoration-color: $color
            &::after
                color: $color

@mixin code-page-color($color)
    .hero
        h1
            &::after
                color: $color
    .breadcrumb-nav
        background: $color
    nav.toc-pages
        ol
            > li
                > a.active::before
                    background-color: $color
    // TODO : lead ?
    // .lead
    //     background: $color
    .block-pages
        &.block-page-challenges,
        &.block-page-association

            .top h2,
            article h1
                a
                    @include link($color)
                    color: black
                    &::after
                        color: $color
        .top
            h2
                a::after
                    @include icon-code("code-arrow-right")
                    color: $color
                    margin-left: $spacing0
    .block-timeline--horizontal
        background-color: $color
    .block-call_to_action
        .call_to_action
            > div
                border-color: $color
                .actions
                    a
                        background-color: $color
                        color: black

// TYPOGRAPHY

@mixin h5-code
    font-family: $h5-font-family
    font-size: $h5-size
    font-weight: $h5-weight
    letter-spacing: 1.8px
    line-height: $h5-line-height
    text-transform: $h5-text-transform
    @include media-breakpoint-up(desktop)
        font-size: $h5-size-desktop
    a
        text-decoration: none
