.block-pages
    > .page
        .title
            &::after
                @include icon
                content: map-get($icons, "code-caret")
                font-family: $font-icons-code
                font-size: 6px
                margin-left: px2rem(10)
                transform: rotate(-90deg)
