{{ define "main" }}
  {{ partial "categories/hero-term.html" . }}
  {{ if partial "GetTextFromHTML" .Content }}
  <section class="page-detail">
    <div class="container">
      <div class="content">
        <div>
          {{ partial "categories/description.html" . }}
        </div>
      </div>
    </div>
  </section>
  {{ end }}

  <div class="container">
    {{ partial "posts/posts.html" . }}
    {{ partial "commons/pagination.html" . }}
    {{ partial "commons/backtotop.html" . }}
  </div>
{{ end }}
