.categories__term
    .logotype
        path
            fill: $publications
    .hero .title h1::after
        color: $publications
    .breadcrumb-container
        background: $publications
    .toc
        ol
            > li
                > a
                    &.active
                        &::before
                            background-color: $publications

    .breadcrumb-container
        margin-bottom: px2rem(60)
        @include media-breakpoint-up(md)
            margin-bottom: px2rem(90)
    .page-detail
        background: $publications
        margin-bottom: px2rem(60)
        margin-top: px2rem(-60)
        @include media-breakpoint-up(md)
            margin-bottom: px2rem(90)
            margin-top: px2rem(-90)
        .lead
            margin-bottom: 0
            max-width: 100%

    &.term-point-de-vue
        .logotype
            path
                fill: $viewpoint
        .hero .title h1::after
            color: $viewpoint
        .breadcrumb-container
            background: $viewpoint
        .page-detail
            background: $viewpoint
        .toc
            ol
                > li
                    > a
                        &.active
                            &::before
                                background-color: $viewpoint
        .post-categories
            .cat-point-de-vue:not(.cat-child)
                display: none

    .posts
        > div
            @include grid-posts()
