{{ define "main" }}
  {{ partial "pages/hero.html" . }}


  {{- $category := site.GetPage (printf "/categories%s" .Params.category) -}}
  <article>
    {{ partial "header/page-detail.html" . }}

    <div class="container">

    {{- $getLevel := .Params.url | strings.Count "/" -}}
    {{- if gt $getLevel 3 }}
      <div class="content">
        {{ partial "pages/aside.html"
            (dict
                "category" $category
                "context" .
            )
        }}
        <div>
          {{ partial "pages/body.html" . }}
          {{ partial "blocks/list.html" .Params.blocks }}
          {{ partial "posts/related.html" $category }}
          {{ partial "commons/backtotop.html" }}
        </div>
      </div>
    {{ else }}
      {{ partial "pages/children.html" .Pages }}
      {{ partial "blocks/list.html" .Params.blocks }}
    {{ end -}}

    </div>
  </article>
{{ end }}
