{{ define "main" }}
  {{ partial "pages/hero.html" . }}

  {{- $category := site.GetPage (printf "/categories%s" .Params.category) -}}

  <div>
    {{- if .Pages }}
        {{/* Si pas de sous-pages : pleine largeur */}}
    {{- else -}}
        {{ partial "pages/aside.html"
            (dict
                "category" $category
                "context" .
            )
        }}
    {{ end -}}

    {{- if .Params.blocks }}
      {{ partial "blocks/list.html" .Params.blocks }}
    {{ else }}
      {{ partial "pages/children.html" .Params.children }}
    {{ end }}

    <section>
      <div class="container">
        {{ partial "commons/backtotop.html" . }}
      </div>
    </section>
  </div>

{{ end }}
