{{ define "main" }}
  {{ partial "pages/hero.html" . }}
  {{ partial "header/page-detail.html" . }}

  {{- $category := site.GetPage (printf "/categories%s" .Params.category) -}}
  <div>

    {{- $getLevel := .Params.url | strings.Count "/" -}}
    {{- if gt $getLevel 3 }}

      {{ partial "pages/aside.html"
          (dict
              "category" $category
              "context" .
          )
      }}

      {{/* TODO: DELETE IT */}} {{ partial "pages/body.html" .Content }}
      {{ partial "blocks/list.html" .Params.blocks }}
      {{ partial "posts/related.html" $category }}
      <section>
        <div class="container">
          {{ partial "commons/backtotop.html" }}
        </div>
      </section>

    {{- else -}}

      {{ partial "pages/children.html" .Pages }}
      {{ partial "blocks/list.html" .Params.blocks }}

    {{ end -}}

  </div>
{{ end }}
