$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-divider: "\e902";
$icon-facebook: "\e900";
$icon-arrow-bottom: "\e901";
$icon-arrow-left: "\e903";
$icon-arrow-right: "\e904";
$icon-arrow-top: "\e905";
$icon-close: "\e906";
$icon-linkedin: "\e907";
$icon-logo: "\e908";
$icon-twitter: "\e909";
