.block-call_to_action
    .call_to_action
        margin-bottom: calc(#{$btn-padding-y} * 2)
        padding: $grid-gutter-width
        padding-bottom: calc(#{$btn-padding-y} * 4)
        position: relative
        div + div,
        & > a
            bottom: 0
            left: 50%
            position: absolute
            transform: translate(-50%, 50%)
        div + div
            text-align: center
            width: 100%
        div + div,
        & >
            a
                max-width: 40%
                overflow: hidden
                text-overflow: ellipsis
                white-space: nowrap

        .page-pleas &
            border: 1px solid $pleas
            p:last-of-type
                margin-bottom: 0
            div + div,
            & >
                a
                    @extend .btn
                    &:first-of-type
                        @extend .btn-pleas
                    &:nth-of-type(2)
                        @extend .btn-pleas
