.block-timeline
    overflow: hidden
    h3
        margin-bottom: $grid-gutter-width
    .events
        display: flex
        flex-flow: row nowrap
        transition: margin 0.4s ease-in-out
        width: 100%
    .event
        flex: none
        padding-right: $grid-gutter-width
        scroll-snap-align: start
        width: 50%
        hr
            opacity: 1
            overflow: visible
            width: calc(100% + #{$grid-gutter-width})
            &::before
                background: black
                border-radius: 50%
                content: ''
                display: block
                height: 9px
                position: relative
                top: -4px
                width: 9px
    .pleas &
        background: $pleas
        padding: 40px 0
        position: relative
        // &::after
        //     background: $pleas
        //     content: ''
        //     height: 100%
        //     position: absolute
        //     right: 0
        //     top: 0
        //     width: 100vw
        //     z-index: 0



