.hero
    background: white
    color: $primary
    padding-bottom: 60px
    padding-top: 60px
    &__title
        h1
            margin-bottom: 0
        > p
            @include suptitle
        @include media-breakpoint-down(md)
            .logotype
                display: none

    &__image
        margin-bottom: px2rem(30)
        img
            height: 100%
            object-fit: contain
            width: 100%
    .title-avatar
        @include make-row()
        align-items: flex-end
        @include media-breakpoint-up(md)
            margin-bottom: 1.5rem
        > *
            @include make-col-ready()
        h1
            @include media-breakpoint-up(md)
                @include make-col(10)
                margin-bottom: 0
        > div
            @include make-col(4)
            @include media-breakpoint-down(md)
                margin-bottom: map-get($spacers, 4)
            @include media-breakpoint-up(md)
                @include make-col(2)


    @include media-breakpoint-up(md)
        padding-bottom: 150px
        padding-top: 100px
        .row
            align-items: center
            &.with-image
                flex-direction: row-reverse
        &__image
            @include make-col(4)
            margin-bottom: px2rem(68)
            img
                min-height: 375px
        &__title
            @include make-col(10)
        .hero__image + .hero__title
            @include make-col(8)
    .logotype
        margin-top: px2rem(25)
