.hero
    background: white
    color: $primary
    padding-bottom: 60px
    padding-top: 60px
    .title
        h1
            margin-bottom: 0
            &::after
                @extend .icon
                @include icon-code("code-logo")
                color: $pleas
                display: block
                font-size: 44px
                margin-top: px2rem(25)

        > p
            @include suptitle
        @include media-breakpoint-down(md)
            .logotype
                display: none
        
    .media
        margin-bottom: px2rem(30)
        picture
            aspect-ratio: 1
            display: block
            .persons__page &
                border-radius: 50%
                display: block
                overflow: hidden
                position: relative
        img
            height: 100%
            object-fit: contain
            width: 100%
    .with-image
        flex-direction: column-reverse

    @include media-breakpoint-up(md)
        padding-bottom: 130px
        padding-top: 100px
        .row
            align-items: center
            &.with-image
                flex-direction: row
        .media
            @include make-col(4)
            margin-bottom: px2rem(68)
        .title
            @include make-col(10)
        .with-image
            .title
                @include make-col(8)

