{{ $page := . }}
{{ $class := "page" }}
{{ $show_description := true }}
{{ $show_image := false }}
{{ if eq $page.Params.bodyclass "pleas" }}
  {{ $show_image = true }}
  {{ $class = printf "%s page-pleas" $class }}
{{ end }}
{{ with $page }}
<div class="{{ $class }}">
  <div>
    <p class="title">
      <a href="{{ .Permalink }}">
        {{ partial "PrepareHTML" .Title }}
      </a>
    </p>
    {{ if and .Params.description $show_description }}
      <p>{{- partial "PrepareHTML" .Params.description -}}</p>
    {{ end }}
  </div>
  {{ if $show_image }}
    <div class="media">
      {{- if .Params.image -}}
        {{- partial "commons/image.html"
              (dict
                "image"    .Params.image
                "alt"      .Title
                "mobile"   "351x351"
                "tablet"   "216x216"
                "desktop"  "416x416"
                "crop"     true
              ) -}}
      {{- else -}}
        {{- partial "commons/image-default.html" -}}
      {{- end -}}
    </div>
  {{ end }}
</div>
{{ end }}
