{{ $page := . }}
{{ $show_description := true }}
{{ $show_image := false }}
{{ with $page }}
<div class="page">
  <div>
    <p class="title">
      <a href="{{ .Permalink }}">
        {{ partial "PrepareHTML" .Title }}
      </a>
    </p>
    {{ if and .Params.description_short $show_description }}
      <p>{{- partial "GetTruncateContent" .Params.description_short -}}</p>
    {{ end }}
  </div>
  {{ if $show_image }}
    <div class="media">
      {{- if .Params.image -}}
        {{- partial "commons/image.html"
              (dict
                "image"    .Params.image
                "alt"      .Title
                "mobile"   "351x291"
                "tablet"   "334x167"
                "desktop"  "634x317"
              ) -}}
      {{- else -}}
        {{- partial "commons/image-default.html" -}}
      {{- end -}}
    </div>
  {{ end }}
</div>
{{ end }}
