{{ define "main" }}
  {{ partial "posts/hero-single.html" . }}

  <article itemscope itemtype="https://schema.org/NewsArticle">
    <meta itemprop="headline" content="{{ partial "PrepareHTML" .Title }}">
    <meta itemprop="url" content="{{ .Permalink }}">
    {{ if .Date }}<meta itemprop="datePublished" content="{{ .Date.Format "2006-01-02T15:04" }}">{{ end }}
    {{ if .Params.description_short }}<meta itemprop="abstract" content="{{ partial "PrepareHTML" .Params.description_short }}">{{ end }}
    {{ if .Summary }}<meta itemprop="description" content="{{ partial "PrepareHTML" .Summary }}">{{ end }}

    {{ partial "header/page-detail.html" . }}

    <div class="content-blocks">
      {{ partial "posts/aside.html" . }}
      {{ partial "blocks/list.html" .Params.blocks }}
      <div class="blocks blocks-pagination">
        <div class="container">
          <div class="block-content">
            {{ partial "posts/prevnext.html" . }}
          </div>
        </div>
      </div>
      {{ if .Params.authors }}
        <section class="blocks blocks-disclaimer">
          <div class="container">
            <div class="block-content">
              <div class="disclaimer">
                <p>{{ i18n "posts.disclaimer" }}</p>
              </div>
            </div>
          </div>
        </section>
      {{ end }}
    </div>

  </article>
{{ end }}
