<div class="content">
  <div>
    {{ if site.Data.menus.primary }}
      <nav role="navigation" aria-label="{{ i18n "commons.menu.main" }}">
        {{ partial "commons/menu.html"
              (dict
                "items"       site.Data.menus.primary
                "level"       1
                "stop"        2
                "hideDescription" true
              )}}
      </nav>
    {{ end }}
  </div>
  <div>
    {{ partial "footer/site.html" }}
    {{ partial "footer/complementary.html" }}
  </div>
  {{ partial "footer/logo.html" }}
</div>

{{ partial "footer/debug.html" }}
