<div class="container">

  {{ $menu := partial "GetMenu" "primary" }}
  {{ if $menu }}
      <nav aria-label="{{ i18n "commons.menu.main" }}">
      {{ partial "commons/menu.html"
            (dict
              "kind"        "primary"
              "level"       1
              "stop"        2
              "hideDescription" true
            )}}
      </nav>
  {{ end }}

  <div class="footer-info">
    <div class="footer-site">
      {{ partial "footer/site.html" }}
    </div>
    {{ partial "commons/i18n.html" (dict
        "context" .
        "position" "footer"
      )}}
    <div class="footer-legals">
      {{ partial "footer/legals.html" }}
      {{ partial "footer/credit.html" }}
    </div>
  </div>
</div>

<div class="footer-logo">
  {{ partial "footer/logo.html" }}
</div>
