{{- $title := partial "PrepareHTML" .Title -}}
{{- $description := or .Params.description .Params.description_short .Content -}}
<article class="post">
  <div>
    <h3 class="title"><a href="{{ .Permalink }}">{{ $title }}</a></h3>
    <time datetime="{{ .Date.Format "2006-01-02T15:04" }}">{{ .Date | time.Format ":date_long" }}</time>
    {{ range .Params.authors -}}
      {{- $person := site.GetPage (printf "/persons/%s" .) -}}
      {{ with $person -}}
        <p class="author"><a href="{{ .Permalink }}">{{ partial "PrepareHTML" .Title }}</a></p>
      {{- end }}
    {{- end }}
    {{- partial "posts/categories" . -}}
    <p>{{ partial "GetTruncateContent" $description }}</p>
  </div>

  {{- if .Params.image -}}
    {{- $desktop_size := "636x318" -}}
    {{- if .Scratch.Get "small" -}}
      {{- $desktop_size = "172x86" -}}
    {{- end -}}
    <div class="media">
      {{- partial "commons/image.html"
            (dict
              "image"    .Params.image
              "mobile"   "351x291"
              "tablet"   "336x278"
              "desktop"  $desktop_size
              "crop" true
            ) -}}
    </div>
  {{- end -}}
</article>
