{{ $kind := .kind }}
{{ $categories_kind := printf "%ss_categories" $kind }}
{{ $categories := .context.GetTerms $categories_kind }}

{{ if $categories }}
  <ul class="{{ $kind }}-categories" aria-label="{{ i18n "categories.label" }}">
    {{ range $categories }}
      {{ $term_class := false }}

      {{ if .Params.parent }}
        {{ $term_class = printf "cat-child cat-%s" (replace .Params.parent "/" "") }}
      {{ else }}
        {{ $term_class = printf "cat-parent cat-%s" (replace .Slug "/" "") }}
      {{ end }}

      {{ if .Params.parent }}
        <li>
          <a href="{{ .Permalink }}"{{ if $term_class }} class="{{ $term_class }}"{{ end }}>
            {{ safeHTML .Title }}
          </a>
        </li>
      {{ end }}

    {{ end }}
  </ul>
{{ end }}