footer[role="contentinfo"]
    background: $primary
    color: white
    a
        color: white
        text-decoration-color: rgba(white, 0.3)
        &:hover
            text-decoration-color: rgba(white, 1)
    .nav-level-1
        a, span
            color: white
            text-decoration-color: rgba(white, 0.3)
            &:hover
                color: white
                text-decoration-color: rgba(white, 1)
