header[role=banner]
    // background-color: $menu-background-color
    // position: sticky
    // top: 0
    // z-index: 100
    .logo
        @include media-breakpoint-up(lg)
            &::before
                @include icon-code("code-logo")
                color: $pleas
                font-size: 44px
                margin-right: 5px
        img
            height: 26px
            @include media-breakpoint-up(md)
                height: 44px

    nav[role="navigation"]
        button[type="button"]
            span:last-of-type
                height: auto
                &::before
                    @include icon-code("code-logo")
                    color: $pleas
                    font-size: 26px !important

            &[aria-expanded="true"]
                span:last-of-type
                    &::before
                        @include icon-code("code-close")
