.menu
    @extend .menu-expand
    .nav-level-1
        > .has-children
            li
                position: relative
                a
                    @extend .h2
                    @extend .stretched-link
                    @include link
                    font-weight: $headings-font-weight
                p
                    @extend .small

        @include media-breakpoint-up(lg)
            & > li
                & > a,
                & > span
                    font-size: px2rem(14)
                    line-height: px2rem(17)
    > ul
        .dropdown-menu
            border-bottom: 5px solid $primary
            border-radius: 0
        .dropdown
            &-association
                border-bottom-color: $association
            &-challenges
                border-bottom-color: $challenges
            &-posts
                border-bottom-color: $posts
            &-pleas
                border-bottom-color: $pleas

        @include media-breakpoint-down(lg)
            padding-left: calc(#{$grid-gutter-width} / 2)
            padding-right: calc(#{$grid-gutter-width} / 2)
            .dropdown-menu
                border-left-width: 0
                border-right-width: 0
                border-top-width: 0
            // Shame : a lot of important to avoid enormous queries to target elements...
            li
                a, span
                    padding: 15px 0 !important
                    text-decoration: none !important
                > p
                    display: none
            > li
                border-bottom: 1px solid $primary
                position: relative
                a, span
                    font-size: px2rem(22) !important
                &.item
                    &-association
                        border-bottom-color: $association !important
                    &-challenges
                        border-bottom-color: $challenges !important
                    &-posts
                        border-bottom-color: $posts !important
                    &-pleas
                        border-bottom-color: $pleas !important
                
            .nav-level-2
                li
                    a, span
                        font-size: px2rem(18) !important