.menu
    @extend .menu-expand
    .nav-level-1
        > .has-children
            li
                position: relative
                a
                    @extend .h2
                    @extend .stretched-link
                    @include link
                    font-weight: $headings-font-weight
                p
                    @extend .small

        @include media-breakpoint-up(lg)
            & > li
                & > a,
                & > span
                    font-size: px2rem(14)
                    line-height: px2rem(17)
    > .nav-level-1
        > li
            &.item-page
                &-association
                    @include code-menu-color($association)
                &-challenges
                    @include code-menu-color($challenges)
                &-publications
                    @include code-menu-color($publications)
                &-pleas
                    @include code-menu-color($pleas)
                &-agir-soutenir
                    background: $association
                    @include media-breakpoint-down(lg)
                        margin-left: calc(#{$grid-gutter-width} / -2)
                        margin-right: calc(#{$grid-gutter-width} / -2)
                        margin-top: -1px
                        padding-left: calc(#{$grid-gutter-width} / 2)
                        padding-right: calc(#{$grid-gutter-width} / 2)
        .dropdown-menu
            border-bottom: 5px solid $primary
            border-radius: 0
            li > a
                &:after
                    @include icon-code("code-arrow-right")
                    font-size: 10px
                    padding-left: 0.75rem
        .nav-level-2
            li.actualites
                @include code-menu-color($publications)
            li.point-de-vue
                @include code-menu-color($viewpoint)

        @include media-breakpoint-down(lg)
            padding-left: calc(#{$grid-gutter-width} / 2)
            padding-right: calc(#{$grid-gutter-width} / 2)
            .dropdown-menu
                border-left-width: 0
                border-right-width: 0
                border-top-width: 0
            > li
                border-bottom: 1px solid $primary
                position: relative
                a, span
                    font-size: px2rem(22)
                    padding: px2rem(15) 0
            > .has-children
                li
                    a, span
                        display: flex
                        font-size: px2rem(18)
                        justify-content: space-between
                        padding: px2rem(15) 0
                        text-decoration: none
                    a::after
                        margin-top: 0.4rem
                p
                    display: none
