.page-detail
    margin-bottom: map-get($spacers, 5)
    padding: 30px 0 60px
    aside
        p
            @extend .small
            margin-bottom: 9px
        time
            font-size: px2rem(18)
        > div:not(:last-child)
            padding-bottom: map-get($spacers, 4)
    .lead
        margin-bottom: 0
    .author
        display: flex
        margin-top: map-get($spacers, 4)
        picture
            flex-shrink: 0
            margin-right: $spacer
        img
            height: 76px
            width: 76px
        [itemprop="name"]
            font-weight: $font-weight-bold
            margin-bottom: 0
        p + p
            @extend .small
