.page__home
    .block-pages > .page .title a
        font-size: px2rem(18)
        font-weight: $font-weight-normal
        letter-spacing: 0.1em
        line-height: px2rem(26)
        text-transform: uppercase
