{{ $file := "/assets/images/logo.svg" }}
{{ $fileDimensions := partial "GetImageSize" (dict "context" . "file" $file "static" true) }}

{{ $fileSmall := "/assets/images/logo-sm.svg" }}
{{ $fileSmallDimensions := partial "GetImageSize" (dict "context" . "file" $file "static" true) }}

<a class="logo" href="{{ site.BaseURL }}">
    <img src="{{ $file }}" alt="{{ site.Title }}" height="{{ index $fileDimensions 1 }}" width="{{ index $fileDimensions 0 }}">
    <img src="{{ $fileSmall }}" alt="{{ site.Title }}" height="{{ index $fileSmallDimensions 1 }}" width="{{ index $fileSmallDimensions 0 }}">
</a>
