<section class="page-detail">
  <div class="container">
    <div class="content">
      <aside>

        {{/*
        <div>
          <p>{{ i18n "posts.share" }}</p>
          {{ partial "commons/share.html" . }}
        </div>
        */}}

        {{ if .Params.Categories }}
        <div>
          <p>
            {{- if gt (len .Params.Categories) 1 -}}
              {{ i18n "posts.categories" }}
            {{- else -}}
              {{ i18n "posts.category" }}
            {{- end -}}
          </p>
          <div itemprop="articleSection">
            {{ partial "posts/categories.html" . }}
          </div>
        </div>
        {{ end }}

        {{ if .Date }}
        <div>
          <p>{{ i18n "commons.date" }}</p>
          <time datetime="{{ .Date.Format "2006-01-02T15:04" }}">{{ .Date | time.Format ":date_long" }}</time>
        </div>
        {{ end }}
      </aside>
      <div>
        <p class="lead">{{ partial "PrepareHTML" (replace .Params.description_short "\n" "<br/>") }}</p>
        {{ range .GetTerms "authors" }}
          {{ $person := site.GetPage (printf "/persons/%s" .Slug) }}
          {{ with $person }}
            <div class="author" itemscope itemtype="https://schema.org/Person" itemprop="author">
              {{ if .Params.image }}
                {{ partial "commons/image.html"
                      (dict
                        "image"    .Params.image
                        "mobile"   "76x76"
                        "tablet"   "76x76"
                        "desktop"  "76x76"
                        "itemprop" true
                      )}}
              {{ end }}
              <div>
                <p itemprop="name">{{ safeHTML .Title }}</p>
                {{ if .Params.description_short }}
                  <p itemprop="description">{{ .Params.description_short }}</p>
                {{ end }}
              </div>
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
