body
    &.page-association, &.page-agir-soutenir
        @include code-page-color($association)
    &.page-challenges
        @include code-page-color($challenges)
    &.page-pleas
        @include code-page-color($pleas)
        .hero
            .media
                @include media-breakpoint-down(md)
                    margin-left: auto
                    margin-right: auto
                    width: calc(100%/12*10)
                img
                    object-fit: cover
                picture
                    border-radius: 50%
                    display: block
                    overflow: hidden

