body
    &.page-association, &.page-agir-soutenir
        @include code-page-color($association)
    &.page-challenges
        @include code-page-color($challenges)
    &.page-pleas
        @include code-page-color($pleas)
        .hero
            .media img
                object-fit: cover
        .media
            picture
                border-radius: 50%
                display: block
                overflow: hidden
