.posts__section
    .posts
        > div
            &:first-child
                @extend .col-lg-12
                @include media-breakpoint-up(md)
                    .post
                        flex-direction: row
                        > div
                            width: calc(50% - #{$grid-gutter-width} / 2)
                        .media
                            margin-right: $grid-gutter-width
                        .title
                            font-size: px2rem(30)
                            line-height: px2rem(36)
            &:not(:first-child)
                @include media-breakpoint-up(md)
                    .post
                        flex-direction: row-reverse
                        .media
                            align-self: flex-start
                            flex-shrink: 0
                            width: 80px
