.post
    time,
    .post-categories
        display: inline
    .post-categories
        margin-left: px2rem(20)
    .title
        font-size: px2rem(22)
        line-height: px2rem(26)
    time
        text-transform: uppercase
    p
        margin-top: .5rem

.posts
    --bs-gutter-y: 3.75rem
    > *
        @extend .col-lg-6

.post-categories
    li
        font-weight: 700
        text-transform: uppercase
        &:not(:first-child)
            &::before
                content: none
        &:not(:last-child)
            margin-right: 18px
    a
        line-height: px2rem(17)
        text-decoration: none
        &::before
            background: black
            content: ''
            display: inline-block
            height: 10px
            margin-right: 3px
            vertical-align: baseline
            width: 10px
