.post
    @include media-breakpoint-up(md)
        > div:first-of-type
            padding-top: 0
    time,
    .post-categories
        display: inline
    .post-categories
        margin-left: px2rem(20)
    .title
        font-size: px2rem(22)
        line-height: px2rem(26)
    time
        text-transform: uppercase
    p
        margin-top: .5rem

.posts
    --bs-gutter-y: 3.75rem
    > *
        @extend .col-lg-6
        &:first-child
            @extend .col-lg-12
            @include media-breakpoint-up(md)
                .post
                    flex-direction: row
                    > div
                        width: calc(50% - #{$grid-gutter-width} / 2)
                    .media
                        margin-right: $grid-gutter-width
                    .title
                        font-size: px2rem(30)
                        line-height: px2rem(36)
        &:not(:first-child)
            @include media-breakpoint-up(md)
                .post
                    flex-direction: row-reverse
                    .media
                        align-self: flex-start
                        flex-shrink: 0
                        width: 80px

.post-categories
    li
        font-weight: 700
        text-transform: uppercase
        &:not(:first-child)
            &::before
                content: none
        &:not(:last-child)
            margin-right: 18px
    a
        text-decoration: none
        &::before
            background: white
            content: ''
            display: inline-block
            height: 10px
            margin-bottom: 2px
            margin-right: 3px
            vertical-align: middle
            width: 10px
